@import 'src/App'

.HomePage
  position: absolute
  width: 100%
  height: 100vh
.a
  background-image: url('../../IMG/mainBackground1.png')
.b
  background-image: url('../../IMG/mainBackground2.png')
.c
  background-image: url('../../IMG/mainBackground3.png')
.d
  background-image: url('../../IMG/mainBackground.png')
.mainContactsContainer
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between
.contacts
  max-width: calc(100% - 60px)
  display: flex
  justify-content: space-between
  align-items: center
  left: 0
  padding: 0 30px
  height: 35px
  top: 90px
  align-content: center
  position: relative
  .streetLocation
    width: 400px
    a
      color: white
      font-size: 20px
      text-decoration: none
  .telephones
    display: flex
    justify-content: space-between
    width: 350px
    a
      color: white
      font-size: 20px
      text-decoration: none
.mainLinks
  max-width: 100%
  font-size: 130px
  display: flex
  justify-content: space-evenly
  a
    color: white
    text-decoration: none
.mainLinkButton
  max-width: 100%
  text-align: center
  .mainButton
    height: 40px
    width: 200px
    background-color: transparent
    border: 2px solid white
    color: white
    cursor: pointer
    font-size: 20px
    font-family: 'PT Sans', sans-serif
    transition: .5s
    &:hover
      background: white
      color: black
.scrollDown
  margin-bottom: 10px
  text-align: center

// SLIDER //

.slider
  max-width: 100%
  text-decoration: none
  outline: none
  .customDots
    display: flex !important
    flex-direction: row
    position: relative
    height: 30px
    width: 100%
    justify-content: flex-end
    bottom: 35px
    right: 15px
    align-items: center
    li
      list-style: none
      margin: 0 5px
      button
        border: 1px solid rgba(148, 148, 148, 0.8)
        cursor: pointer
        background: rgba(120, 120, 120, 0.15)
        outline: none
        width: 13px
        height: 13px
        color: transparent
        border-radius: 20px
.sliderContainer
  width: 100%
  display: flex
  flex-direction: row
  .photoSlider
    width: 50%
    height: 500px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
.sliderRightTextContainer
  display: flex
  flex-direction: column
  justify-content: space-evenly
  text-align: center
  width: 50%
  height: 500px
  color: black
  font-size: 30px
  font-family: 'Avenir Next Cyr', sans-serif
  .sliderRightText
    h3
      margin: 30px 30px 0 30px
      font-size: 72px
    p
      margin: 0 30px
      font-size: 20px
.sliderEventButton
  color: $pauseBlockColor
  background-color: white
  border: 1px solid $pauseBlockColor
  cursor: pointer
  font-size: 30px
  padding: 10px 15px
  margin: 0 30px 30px 30px
  &:hover
    transition: .6s
    color: white
    background-color: $pauseBlockColor

.back_1
  background-image: url("../../IMG/italy.png")
.back_2
  background-image: url("../../IMG/no_only_pizza.png")
.back_3
  background-image: url("../../IMG/always_new.png")

// Slider standard settings //
.slick-track, .slick-list
  height: auto
  width: 100%
.slick-slider
  max-height: 500px

// SLIDER //


// PAUSE BLOCK //

.pauseBlock
  display: flex
  flex-direction: row
  justify-content: space-between
  max-width: calc(100% - 60px)
  height: 80px
  align-items: center
  background-color: $pauseBlockColor
  padding: 0 30px
  .pauseBlockText
    display: flex
    flex-direction: column
    justify-content: space-around
    height: 60px
    width: 60%
    h2
      font-size: 20px
    p
      font-size: 15px
.pauseButton
  height: 50px
  width: 350px
  opacity: 0.9
  background-color: transparent
  border: 1px solid white
  color: white
  cursor: pointer
  font-size: 30px
  font-family: 'PT Sans', sans-serif
  transition: .5s

// PAUSE BLOCK //


// VISITORS FRIENDLY //

.visitorsFriendlyContainer
  display: flex
  flex-direction: row
  max-width: 100%
  height: 730px
  .visitorsFriendlyText
    display: flex
    flex-direction: column
    justify-content: space-around
    text-align: center
    width: 50%
    color: black
    font-size: 30px
    font-family: 'Avenir Next Cyr', sans-serif
    h3
      margin: 30px 30px 0 30px
      font-size: 72px
    p
      margin: 0 30px
      font-size: 20px
  .visitorsFriendlyBackground
    width: 50%
    background-image: url("../../IMG/kids_friendly.png")
    background-position: center
    background-repeat: no-repeat
    background-size: cover


// VISITORS FRIENDLY //





// LOCATION BLOCK //

.locationContainer
  display: flex
  max-width: 100%
  height: 600px
  .locationText
    margin-left: 10px
    left: 20px
    display: flex
    flex-direction: column
    justify-content: space-around
    width: 50%
    color: black
    font-family: Avenir Next Cyr, sans-serif
    h3
      font-size: 30px
      color: $pauseBlockColor
    p
      margin: 20px 0
      font-size: 20px
    .socialLinks
      display: flex
      justify-content: space-between
      width: 150px
      svg
        cursor: pointer
  .mapBlock
    width: 50%
    height: 100%
    .Marker
      svg
        cursor: pointer
        &:hover
          width: 110%
          height: 110%


// LOCATION BLOCK //



.scrollUpp
  transition: 5s
  z-index: 99
  position: fixed
  top: 80%
  right: 25px


footer
  display: flex
  max-width: calc(100% - 60px)
  padding: 0 30px
  height: 50px
  background-color: black
  align-items: center
  p
    color: white










@media screen and (max-width: 970px)
  .contacts
    .streetLocation
      width: 300px
      a
        font-size: 17px
    .telephones
      flex-direction: column
      width: 140px
      a
        font-size: 17px
  .mainLinks
    font-size: 100px


  .slider
    .sliderContainer
      align-items: center
      .photoSlider
        width: 100%
        height: 500px
    .sliderRightTextContainer
      background: rgba(168, 168, 168, 0.66)
      width: 100vw
      height: 300px
      position: absolute
      .sliderRightText
        justify-content: space-between
        max-height: 350px
        h3
          margin: 30px 40px 0 40px
          font-size: 65px
        p
          margin: 0 40px
          font-size: 18px

  .pauseBlock
    .pauseBlockText
      h2
        font-size: 19px
      p
        font-size: 14px
  .pauseButton
    height: 40px
    width: 260px
    opacity: 0.9
    font-size: 27px


  .visitorsFriendlyContainer
    flex-direction: column
    justify-content: center
    .visitorsFriendlyText
      position: absolute
      width: 100%
      height: 350px
      background: rgba(255, 255, 255, 0.54)
    .visitorsFriendlyBackground
      height: 100%
      width: 100%


  .locationContainer
    display: flex
    flex-direction: column
    max-width: 100%
    height: 600px
    align-items: center
    .locationText
      align-items: center
      margin: 20px 0
      left: 0
      display: flex
      flex-direction: column
      justify-content: space-around
      width: 100%
      color: black
      font-family: Avenir Next Cyr, sans-serif
      h3
        font-size: 30px
        color: $pauseBlockColor
      p
        margin: 20px 0
        font-size: 20px
      .socialLinks
        display: flex
        justify-content: space-between
        width: 150px
        svg
          cursor: pointer
    .mapBlock
      min-width: 100%
      height: 100%
      div
        width: 100%
      .Marker
        svg
          cursor: pointer
          &:hover
            width: 110%
            height: 110%







@media screen and (max-width: 800px)
  .contacts
    .streetLocation
      width: 300px
      a
        font-size: 15px
    .telephones
      flex-direction: column
      width: 120px
      a
        font-size: 15px
  .mainLinks
    font-size: 80px


  .slider
    .sliderRightTextContainer
      .sliderRightText
        h3
          margin: 30px 40px 0 40px
          font-size: 55px
        p
          margin: 0 40px
          font-size: 16px
  .sliderEventButton
    font-size: 25px
    padding: 5px 10px

  .pauseBlock
    .pauseBlockText
      h2
        font-size: 17px
      p
        font-size: 13px
  .pauseButton
    height: 35px
    width: 230px
    font-size: 23px




  .visitorsFriendlyContainer
    .visitorsFriendlyText
      h3
        font-size: 55px
      p
        font-size: 17px



@media screen and (max-width: 600px)
  .mainLinks
    flex-direction: column-reverse
    align-items: center
    font-size: 90px
  .mainLinkButton
    margin-top: 30px


  .slider
    .sliderRightTextContainer
      .sliderRightText
        h3
          font-size: 45px
        p
          font-size: 13px



  .pauseBlock
    max-width: calc(100% - 20px)
    padding: 0 10px
    .pauseBlockText
      h2
        font-size: 16px
      p
        font-size: 13px
  .pauseButton
    height: 30px
    width: 180px
    font-size: 18px



  .visitorsFriendlyContainer
    .visitorsFriendlyText
      h3
        font-size: 40px
      p
        font-size: 14px

  .locationContainer
    .locationText
      h3
        font-size: 23px
      p
        font-size: 18px



@media screen and (max-width: 450px)
  .contacts
    flex-direction: column
    align-items: flex-end
    margin-bottom: 30px
    padding: 0 10px
    .streetLocation
      width: 330px
      a
        font-size: 18px
    .telephones
      margin-top: 20px
      flex-direction: column
      width: 120px
      a
        margin-top: 5px
        font-size: 18px


  .slider
    .sliderRightTextContainer
      .sliderRightText
        h3
          font-size: 40px
        p
          font-size: 13px
  .sliderEventButton
    font-size: 20px
    padding: 5px 10px

  .pauseBlock
    flex-direction: column
    height: 100px
    .pauseBlockText
      text-align: center
      width: 90%
      h2
        font-size: 16px
      p
        font-size: 12px
  .pauseButton
    margin: 10px 0
    height: 30px
    width: 180px
    font-size: 18px





  .visitorsFriendlyContainer
    height: 600px
    .visitorsFriendlyText
      h3
        font-size: 30px
      p
        font-size: 14px



  .locationContainer
    .locationText
      h3
        font-size: 20px
      p
        font-size: 15px


  footer
    height: 40px

@media screen and (max-width: 380px)
  .contacts
    .streetLocation
      width: 280px
      a
        font-size: 15px
  .mainLinks
    margin-top: 90px
    font-size: 80px
    height: 250px

  .locationContainer
    .locationText
      h3
        font-size: 18px
      p
        font-size: 14px