@import "../../../App"

.defaultInput
  display: flex
  flex-direction: column
  width: 95%
  color: $basicTextColor
  background-color: transparent
  outline: none
  border: none
  border-bottom: 1px solid $basicTextColor
  font-size: 20px
  padding: 2px 0
  margin: 0 auto
  &:hover
    transition: .6s
    margin: 3px auto
    border-bottom: 1px solid $contrastColor
.changeColorPlaceholder
  color: $accentColor

