@import "src/App"

.AdminNavigation
  display: flex
  align-items: center
  justify-content: left
  text-align: left
  background-color: $mainDarkPurpleColor
  width: 250px
  ul
    width: 100%

.NavigationTopic
  text-align: center
  font-weight: 300
  font-size: 30px
  cursor: default
  padding: 25px 0 10px 0
  color: $accentColor

.NavigationValues
  list-style: none
  margin: 5px auto
  text-transform: none
  width: 100%
  .currentLink
    background-color: $accentBackgroundColor
    color: $accentColor
    svg
      fill: $accentColor
  svg
    width: 20px
    fill: $basicTextColor
    padding: 0 10px
    margin-right: 5px
  a
    text-decoration: none
    color: $basicTextColor
    display: flex
    align-items: center
    width: 100%
    padding: 10px 0
    &:hover
      background-color: $accentBackgroundColor