@import "src/App"

.AdminNavigation
  display: flex
  align-items: flex-start
  background-color: $mainDarkPurpleColor
  width: 250px
  min-height: 100vh
  ul
    width: 100%

.NavigationValues
  list-style: none
  margin: 5px auto
  text-transform: none
  width: 100%
  .currentLink
    background-color: $accentBackgroundColor
    color: $accentColor
    svg
      fill: $accentColor
  svg
    width: 20px
    fill: $basicTextColor
    padding: 0 10px
    margin-right: 5px
  a
    text-decoration: none
    color: $basicTextColor
    display: flex
    align-items: center
    width: 100%
    padding: 10px 0
    &:hover
      background-color: $accentBackgroundColor